.App {
  height: 250px;
  width: 250px;
  margin: 50px auto;
  font-size: larger;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.App h3 {
  text-align: center;
}

.select {
  box-shadow: 0 0 2px 1px rgb(0, 0, 0, 0.5);
  background-color: bisque;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.select:hover {
  box-shadow: 0 0 4px 1px rgb(0, 0, 0, 0.7);
}

.select img {
  height: 10px;
  width: 10px;
}

.options-box {
  box-shadow: 0 0 2px 1px rgb(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: bisque;
  margin-top: 5px;
  cursor: pointer;
  overflow: scroll;
}

.options-box::-webkit-scrollbar {
  display: none;
}

.option {
  background-color: transparent;
  padding: 10px;
}

.option:hover {
  color: rgb(126, 0, 128);
  box-shadow: 0 0 2px 1px rgb(0, 0, 0, 0.3);
}
